.leader-board-box {
    background-color: white;
    height: 500px;
    width: 700px;
    margin: auto;
    border-radius: 5px 5px 0 0;

    .title {
        display: flex;
        height: 100px;
        color: white;
        border-radius: 5px 5px 0 0;
        background-color: #222;

        h1 {
         flex-basis: 80%;
         font-size: 50px;
         margin: auto;

        }

        img {
           flex-basis: 20%; 
        }

    }

    .board-row {
        height: 50px;
        width: 100%;
        text-align: center;
        line-height: 50px;
    }

    .board-row:nth-child(2n) {
        background-color: #eee;
    }

    

}