$small: 350px;
$medium: 700px;
$large: 1000px;

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;

    @media screen and (max-width: $medium) {
        margin-top: 100px;
        height: 75%
    }

    @media screen and (max-width: $small) {
        margin-top: 100px;
        height: 75%
    }

    .user-info-box {
        display: flex;
        flex-direction: column;
        width: 50%;
        align-items: center;
        justify-content: space-evenly;
        height: 300px;
        background-color: #fff;
        
        @media screen and (max-width: $medium) {
            width: 75%;
            height: 100%
        } 

        @media screen and (max-width: $small) {
            width: 100%;
            height: 100%;
        }

        input {
            height: 50px;
            width: 50%;
            text-align: center;
            border-radius: 30px;
            border: 2px solid #444;
            outline: none;
            font-size: 25px;
                
            &::-webkit-input-placeholder {
                color: #bbb;
            }
        }
        
        
        button {
            padding: 15px;
            outline: none;
            border-radius: 5px;
            font-size: 25px;
            background-color: Transparent;
            border: 2px solid #444;
            overflow: hidden;
            width: 50%;
            position: relative;
            cursor: pointer;

            &:hover {
                top: 2px;
            }

            &:active {
                top: 4px;
            }
        }
    }

}